<!doctype html>
<title>{% block title %}{% endblock %} - Remind</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<nav>
  <h1>Remind</h1>

  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  {% if session['just_logged'] %}
      <div><br> Here your subscription token: {{ session['token'] }}<br></div>
    {% endif %}
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>